.tabs{
    width: 100%;
    background: #fafafa;
    position: absolute !important;
    left: 0;
    bottom: 0;
    height: 49px;
    display: flex;
    justify-content: center;
    .tab{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        color: #adadb5;
        .iconfont{
            font-size:20px;
        }
        .text{
            font-size:12px;
            margin-top: 2px;
        }
        &.active{
            .iconfont{
                color: #000;
            }
            .text{
                color:#333;
            }
        }
    }
}