.login {
    &.page {
        bottom: 0;
        z-index: 99;
        background: white;
    }

    .header {
        line-height: 44px;
        display: flex;
        align-items: center;

        span {
            padding: 0 20px;
            font-size: 16px;
            font-weight: bold;
            color: #6a6a6a;
        }
    }

    .content {
        top: 44px;
        box-sizing: border-box;
        padding: 0 18px;
    }

    h2 {
        font-size: 76px;
        color: #000;
        margin: 72px 0 110px;
    }

    p {
        line-height: 70px;
        color: #a2a2a2;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 3px;
    }

    .inp {
        width: 100%;
        padding: 5px 0;
        position: relative;
        input {
            border: none;
            width: 80%;
            height: 110px;
            line-height: 110px;
            color: #333;
            font-size: 45px;
            border-bottom: 1px solid #eee;
        }
        span{
            position: absolute;
            right:0;
            padding: 35px;
            em{
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #dae0ec;
                text-align: center;
                line-height: 40px;
                font-size: 30px;
                color: white;
            }
           
        }
    }
    .btn{
        width: 100%;
    }
    button {
        margin-top: 138px;
        height: 122px;
        line-height: 122px;
        text-align: center;
        color: white;
        font-size: 50px;
        width: 100%;
        border-radius: 60px;
        background: #6182e9;
        border: none;
    }
}