


.content{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.page{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 50px;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
}
