.set{
    &.page{
        bottom:0;
        background: white;
        z-index: 99;
        .pop{
            width: 100%;
            position: absolute;
            z-index: 99;
            left: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
        }
    }
    
    .content{
        top: 44px;
        padding-top: 6px;
        background: #f5f6f8;
    }
    .user{
        width: 100%;
        box-sizing: border-box;
        padding: 0 75px;
        background: white;
        li{
            height: 200px;
            width: 100%;
            padding-top: 20px;
            span{
                display: block;
                margin-bottom: 25px;
                font-size: 32px;
                color: #b9cade;
            }
            em{
                font-size: 40px;
                color: #3d435b;
            }
            &:nth-of-type(1){
                border-bottom:1px solid #eee;
            }
        }
    }
    .setSel{
        width: 100%;
        box-sizing: border-box;
        padding: 0 75px;
        margin-top: 20px;
        background: white;
        li{
            position: relative;
            width: 100%;
            height: 198px;
            line-height: 200px;
            border-bottom:1px solid #eee;
            span{
                font-size: 40px;
                color: #3d435b;
            }
            em{
                position: absolute;
                right: 5px;
                top: 0;
                color: #dae0ec;
                font-size: 28px;
                transform: scaleY(1.5);
            }
        }
    }
    p{
        font-size: 38px;
        color: #3a4769;
        height: 180px;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 25px 75px;
        background: white;
    }
    .popBox{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 400px;
        border-radius: 25px;
        overflow: hidden;
        background: white;
        
        p{
            color: #3d435b;
            height: 250px;
            width: 100%;
            align-items: center;
            padding:0;
            display: flex;
            justify-content: center;
            border-bottom:1px solid #eee;
        }
        button{
            width: 50%;
            height: 150px;
            background: transparent;
            border: none;
            font-size: 38px;
            color: #3d435b;
        }
        .confirm{
            color: skyblue;
             border-left:1px solid #eee;
         }
    }
}