.home {

    .content {
        box-sizing: border-box;
        padding: 0 15px;
        width: 100%;
        top: 44px;
    }

    .header {
        box-sizing: border-box;
        padding: 0 15px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        p {
            img {
                height: 16px;
                float: left;
                margin-right: 8px;
            }

            span {
                position: relative;
                top: 3px;
                font-size: 10px;
                color: #3a475a;
            }
        }

        span {
            font-size: 20px;
        }
    }

    .borrowImg {
        width: 100%;
        padding-top: 30px;
    }

    .select{
        width: 100%;
        display: flex;
        margin:110px 0 80px 0;
        li{
            flex: 1;
            text-align: center;
            img{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                height: 136px;
            }
            &:nth-of-type(4) img{
                margin-left: 20px;
            }
            span{
                color: #56555b;
                font-size: 36px;
                display: inline-block;
                line-height: 115px;
            }
        }
    }

    .banner{
        width: 100%;
        height: 214px;
        border-radius: 30px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }

    h3{
        line-height: 194px;
        font-size: 46px;
        font-weight: bold;
    }
    .weal{
        width: 100%;
        height: 492px;
        display: flex;
        justify-content: space-between;
        .left{
            width: 484px;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .right{
            width: 487px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            overflow: hidden;
            img{
                width: 100%;
                height: 238px;
            }
        }
       
    }

    .culture{
        width: 100%;
        display: flex;
        background: #f9f9fb;
        height: 225px;
        li{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                height: 75px;
                margin-bottom: 26px;
            }
            span{
                font-size: 30px;
                color: #333;
            }
        }
    }
    
    p{
        text-align: center;
        padding: 70px 0;
        color:#a5b5cc;
        span{
            font-weight: bold;
            font-size: 32px;
        }
        em{
            display: inline-block;
            text-align: center;
            font-size: 30px;
            line-height: 32px;
            width: 30px;
            height: 32px;
            border-radius: 50%;
            margin-right: 34px;
            border:2px solid #a5b5cc;
        }
    }
}